* {
    padding: o;
    margin: 0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

.medsos {
    padding: 5px 0;
    background-color:#116c5a ;

}
.medsos ul li {
    display: inline-block;
    color: #fff;
}
.container{
    width: 80%;
   margin: 0 auto;
}
.container:after {
    content:'';
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding: 15px 0;
    color: #116c5a;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: #116c5a;
    color: #fff;
}
.active {
    background-color: #116c5a;
    color: #fff;
}
.banner {
    height: 60vh;
    background-image: url('banner.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(20, 143, 119, .6);
}
.banner h2 {
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
section{
    padding: 50px 0;
}
section h3{
    text-align: center;
    padding: 20px 0;
    color: #116c5a;
    margin-bottom: 20px;
}
section h5 {
    text-align: center;
    padding: .5vh;
    color: #116c5a;
    margin-bottom: 30px;
}
.about{
    padding-bottom: 100px;
}
.about p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px;
}

footer{
    padding: 30px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.label {
    background-color: #116c5a;
    color: #fff;
}
section div {
    text-align: center;
    padding: 20px 0;
    color: #116c5a;
    margin-bottom: 20px;
}